body{
    background-color : blanchedalmond;
    color : rgb(146, 46, 121);
}

.btn {
    cursor: pointer;
}

.clicked {
    color : #a29bfe;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}